#s1{
    height: 200px;
    display: block;
    margin-left: auto;
}
#s2{
    width: 200px;
    display: block;
    margin-right: auto; 
    margin-left: auto;
}
#s3 {
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto; 

}

body {
    background-image: url(./slika.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: right center;

    
}
