@font-face{
    font-family: 'alex_brushregular';
    src: url(font/'alexbrush-regular-webfont.woff2') format('woff2'),
         url(font/'alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.up {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'alex_brushregular';
}

.low {
    text-transform: lowercase;
    text-decoration: line-through;
}