@mixin textshadow ($color) {
    text-shadow: 3px 3px $color;
    color: black;
}

@mixin boxshadow ($size) {
    border: solid black 3px;
    box-shadow: 5px 5px $size blue;
    font-size:150%;
   }
